<h2 class="mb-3">Lista de Produtos</h2>

<p-message
  *ngIf="mensagemSucesso"
  severity="success"
  text="{{ mensagemSucesso }}"
  class="mb-3">
</p-message>

<div class="mb-3">
  <button
    pButton
    label="Novo Produto"
    icon="pi pi-plus"
    class="p-button-success"
    routerLink="/produtos/cadastro">
  </button>
</div>

<p-table
    [value]="produtos"
    *ngIf="produtos.length > 0"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    >
 
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th style="width: 150px;">Ações</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-p>
    <tr>
      <td>{{ p.nome }}</td>
      <td>R$ {{ p.preco | number:'1.2-2' }}</td>
      <td>{{ p.categoriaNome }}</td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-sm p-button-warning mr-2"
          (click)="editar(p.id)">
        </button>

        <button
          pButton
          icon="pi pi-trash"
          class="p-button-sm p-button-danger"
          (click)="deletar(p.id)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-template #vazio>
  <p-message severity="info" text="Nenhum produto encontrado."></p-message>
</ng-template>
